{% extends 'base.html.twig' %}

{% block title %}
	A propos
{% endblock %}

{% block body %}
{# -------------------------M O B I L E------------------------ #}
<div class="d-md-none">
    <div class="card mx-auto mt-3 mb-3" style="width: 16rem;">
        <img class="rounded-2 w-100" src="{{ asset('build/images/apropos.jpg') }}" alt="photo de l'auterice en kimono"/>
    </div>
    <p class="text-center mt-3 paragraph">Je suis une passionnée du Japon, envoûtée par </br>sa culture riche et son ambiance enchanteresse.</br> Mon voyage dans ce pays extraordinaire a été bien</br> plus qu'une aventure ; y vivre pendant un an</br> lors d'un échange universitaire a forgé </br>des souvenirs inestimables, m'immergeant</br> pleinement dans son charme et sa vie quotidienne.</p>
    <p class="text-center mt-2 paragraph">À travers ce blog, je souhaite capturer </br>et transmettre l'essence même du Japon,</br> ses trésors cachés, ses traditions envoûtantes</br> et ses expériences uniques. C'est une plateforme</br> où je peux non seulement exprimer mon amour</br> pour cette culture, mais aussi aider d'autres passionnés à découvrir et à explorer ce merveilleux pays à leur tour.</p>
</div>
{# -------------------------D E S K T O P------------------------ #}
<div class="main d-none d-md-block">
    <h1 class="text-center pb-3">A propos</h1>
    <div class="card mx-auto mt-3 mb-3" style="width: 50rem;">
        <img class="apropos-img-desktop object-fit-cover rounded-2 w-100" src="{{ asset('build/images/apropos.jpg') }}" alt="photo de l'auterice en kimono"/>
    </div>
    <p class="text-center p-desktop mt-5 paragraph">Je suis une passionnée du Japon, envoûtée par sa culture riche</br> et son ambiance enchanteresse. Mon voyage dans ce pays extraordinaire</br> a été bien plus qu'une aventure ; y vivre pendant un an</br> lors d'un échange universitaire a forgé des souvenirs inestimables,</br> m'immergeant pleinement dans son charme et sa vie quotidienne.</p>
    <p class="text-center p-desktop mt-5 paragraph">À travers ce blog, je souhaite capturer et transmettre l'essence même du Japon,</br> ses trésors cachés, ses traditions envoûtantes et ses expériences uniques.</br> C'est une plateforme où je peux non seulement exprimer mon amour</br> pour cette culture, mais aussi aider d'autres passionnés</br> à découvrir et à explorer ce merveilleux pays à leur tour.</p>
</div>
{% endblock %}