{# ------------ M O B I L E ---------- #}
{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}

{# ------------ D E S K T O P ---------- #}