{% extends 'base.html.twig' %}

{% block title %}New Recommandation{% endblock %}

{% block body %}
		<h1 class="fs-1 d-md-none text-center mt-5">Nouvelle recommandation</h1>
		<h1 class="main fs-1 text-center d-none d-md-block mt-5">Nouvelle recommandation</h1>

			<div class="grid-form formbtn">
			{{ include('recommendation/_form.html.twig') }}
			</div>

{% endblock %}

