//start coding by removing this file and adding yours ;)
@import "~bootstrap/scss/bootstrap";
//-------------------V A R I A B L E -----------------------
$backgroundMainColor: #F7F6F6;
$backgroundSecondColor: #B9E1DC;

$backgroundButton: #FFFFFF;
$fontSizeButton: 1rem;
$fontStyleButton: normal;
$fontWeightButton: 700;
$lineHeightButton: unset;

$fontTitle: "Kaushan Script";
$fontText: "Work Sans";
$fontColorTextTitle: #756C83;
$fontColorText: #000000;
$fontColorNav: #FFFFFF;
$fontHover: #D94A4A;
$fontColorButton: #000000;
$fontSizeText: 1rem;
$fontSizeTextDesktop: 1.3rem;
$fontWeightText: 600;
$fontWeightInfos: 1000;
$lineHeightText: normal;
$fontSizeTitleH1: 4rem;
$fontSizeTitleH2: 3rem;
$fontSizeNav: 1.8rem;

@import "~bootstrap/scss/bootstrap";

//-------------------M I X I N -----------------------
@mixin myText(
    $fontFamily,
    $fontColorText,
    $fontSize,
    $lineHeight
) {
    font-family: $fontFamily;
    color: $fontColorText;
    font-size: $fontSize;
    line-height: $lineHeight;
}

//------------------- A L L -----------------------
* {
    box-sizing: border-box;
    padding: 0;
    list-style: none;
    scroll-behavior: smooth;
    text-decoration: none;
}

body {
    background-color: $backgroundMainColor;
    height: 85%;
    padding-bottom: 15%;
    display: flex;
    flex-direction: column;
}

h1 {
    font-weight: 400;
    @include myText(
        ($fontTitle),
        ($fontColorTextTitle),
        ($fontSizeTitleH1),
        ($lineHeightText)
    );

}

h2 {
    @include myText(
        ($fontTitle),
        ($fontColorTextTitle),
        ($fontSizeTitleH2),
        ($lineHeightText)
    );
}

p {
    @include myText(
        ($fontText),
        ($fontColorText),
        ($fontSizeText),
        ($lineHeightText)
    );
}

.p-desktop {
    @include myText(
        ($fontText),
        ($fontColorText),
        ($fontSizeTextDesktop),
        ($lineHeightText)
    );
}

//------------------- N A V B A R  M O B I L E -----------------------
.navbar {
    background-color: $backgroundSecondColor;
    margin: 0;
    bottom: 0;
    z-index: 999;
    @include media-breakpoint-up(md) {
        display: none;
    }
}

.navbar-brand {
    display: flex;
    @include myText(
        ($fontTitle),
        ($fontColorNav),
        ($fontSizeNav),
        ($lineHeightText)
    );

    &:hover {
        color: white;
    }
}

.navbar-link {
    color: black;
    font-family: $fontText;
    transition: 0.3s ease;
}

.navbar-link:hover {
    color: $fontHover;
}

.menu-burger {
    display: none;
    cursor: pointer;
    @include media-breakpoint-down(md) {
        display: block;
    }
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}

.burger-menu.active .bar:nth-child(2){
    opacity: 0;
  }
  .burger-menu.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
  }
  .burger-menu.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu{
    position: fixed;
    left: -100%;
    top: 67px;
    gap: 0;
    flex-direction: column;
    background-color: $backgroundSecondColor;
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }

  .nav-menu.active{
    left: 0;
  }

  //------------------- N A V B A R  D E S K T O P -----------------------
.side-bar {
    @include media-breakpoint-down(md) {
        display: none;
    }
}

.side-bar .left {
    width: 250px;
    height: 100vh;
    background: $backgroundSecondColor;
    padding: 30px 0px;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
}

.side-menu li{
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
  }

.icon-desktop {
    font-size: 2rem;
    @include media-breakpoint-up(md) {
    font-size: 3.5rem;
    margin-top: 1.7em;
    }
}

.main {
    @include media-breakpoint-up(md) {
        padding-left: 250px;
    }
}

.main-img {
    @include media-breakpoint-up(md) {
        height: 100vh;
        
    }
}

.carousel-img {
    width: 75vw;
    height: 23vh;
}

.grid-photos {
    display: grid;
    grid-template-columns: 0.33fr 0.33fr 0.33fr;
    grid-template-rows: 0.50fr 0.50fr 0.50fr;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.dernier-article:first-child {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
}

.dernier-article:nth-child(2) {
    grid-column-start: 1;
    grid-column-end: 2;
}

.dernier-article:nth-child(3) {
    grid-column-start: 2;
    grid-column-end: 3;
}

.dernier-article:nth-child(4) {
    grid-column-start: 3;
    grid-column-end: 4;
}

.apropos-img-desktop {
        height: 30rem;
}

.carousel-img-plj {
   width: 70vw;
   height: 45vh;
   @include media-breakpoint-up(md) {
    width: 28vw;
    height: 75vh;
    
    }
}

.icon-plj {
    width: 8vw;
    @include media-breakpoint-up(md) {
        width: 4vw;  
        }
}

.container-plj {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.glassmorphism {
    background: rgba( 255, 255, 255, 0.2 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 5px );
    border-radius: 10px;
    bottom: -1.3px;
    @include media-breakpoint-up(md) {
        bottom: 0px;
        width: 27vw;
        left: 25.3em;
    }
}

.card {
    width: 13rem; 
}

.container-card {
    display: grid;
    grid-template-columns: 2fr 2fr;
    justify-content: center;
    @include media-breakpoint-up(md) {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        justify-items: center;
    }
}

.region-cover {
    width: 100vw;
    height: 40vh;
}

.bi-chevron-left {
    font-size: 2.5rem;
    color: $fontColorTextTitle;
}

.login-icon {
    width: 30vw;
    padding-top: 10em;
}

.textaccount {
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
}

.button-login {
    background-color: #FFFFFF;
    width: 35vw;
    border-radius: 41px;
    @include media-breakpoint-up(md) {
        width: 15vw;
    }
}

.login-desktop {
    display: flex;
    justify-content: center;
    margin: 4em;
    padding-bottom: 0;
}

.back-picture {
    width: 30vw;
}

.login-desktop-cont {
    background-color: #B9E1DC;
}