{% extends 'base.html.twig' %}

{% block title %}
	Accueil - Bienvenue sur l'application NihonQuestJourney
{% endblock %}

{% block body %}
	<img
	class="w-100 object-fit-cover border rounded d-md-block" src="{{ asset('build/images/imageppal.jpg') }}" alt="photo du château d'Hiroshima"/>
    <h1 class="text-center mt-3 ">Bienvenue !</h1>
    <p class="p-2 text-center">Bienvenue dans l'univers envoûtant du Pays du Soleil Levant ! Plongez dans la culture, échangez sur notre forum animé et découvrez les incontournables à visiter. Prêt pour une immersion au cœur du Japon ?</p>
	<h2 class="text-center">Dernier articles</h2>
{% endblock %}