{# -------------------------M O B I L E------------------------ #}
<nav class="navbar">
    <ul class="nav-menu">
        <li><a href="{{path('home')}}" class="navbar-link text-decoration-none">Accueil</a></li>
        <li><a href="/article" class="navbar-link text-decoration-none">Article</a></li>
        <li><a href="/region" class="navbar-link text-decoration-none">Parcourir le Japon</a></li>
        <li><a href="#" class="navbar-link"><i class="icon-desktop bi bi-person-circle"></i></a></li>
    </ul>
    <div class="container-fluid justify-content-between">
      <div class="burger-menu">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
      </div>
    <span class="navbar-brand mb-0 ms-5 h1">NihonQuestJourney</span>
    <img src="{{ asset('build/images/logonihon_journey.png') }}" alt="Logo" width="43" height="40" class="d-flex">
  </div>
</nav>

{# -------------------------D E S K T O P------------------------ #}
<aside class="side-bar">
    <div class="left">
    <div class="container-fluid justify-content-between">
    <img src="{{ asset('build/images/logonihon_journey.png') }}" alt="Logo" width="95" height="95" class="d-flex mx-auto mt-4">
      <span class="navbar-brand fs-3 justify-content-center mt-3 mb-5">NihonQuestJourney</span>
    </div>
      <ul class="side-menu ps-0">
          <li><a href="{{path('home')}}" class="navbar-link text-decoration-none mx-auto mb-5">Accueil</a></li>
          <li><a href="/article" class="navbar-link text-decoration-none mx-auto mb-5">Article</a></li>
          <li><a href="/region" class="navbar-link text-decoration-none mx-auto mb-5">Parcourir </br>le Japon</a></li>
          <li><a href="/login" class="navbar-link mx-auto"><i class="icon-desktop bi bi-person-circle"></i></a></li>
      </ul>
    </div>
</aside>