{% extends 'base.html.twig' %}

{% block title %}Hello RegionController!{% endblock %}

{% block body %}

    <ul>
        <li>Your controller at <code><a href="{{ '/Users/aude/Documents/WILD/NIHONQUESTJOURNEY/nihonquestjourneyproject/src/Controller/RegionController.php'|file_link(0) }}">src/Controller/RegionController.php</a></code></li>
        <li>Your template at <code><a href="{{ '/Users/aude/Documents/WILD/NIHONQUESTJOURNEY/nihonquestjourneyproject/templates/region/index.html.twig'|file_link(0) }}">templates/region/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}
